/* =================================== */
/*  Footer Styles
/* =================================== */

.footer-area{
    h4{
        padding-bottom:10px;
    }
    .number{
        color:$primary-color;
        font-size:24px;
        font-weight:600;
        line-height:30px;
    }

    .genric-btn{
        background:$primary-color;
        border: none;
        border-radius: 57px;
        height: 36px;
        line-height:41px;
    }

    .primary-btn{
        background-color:$primary-color;
    }

    .primary-btn:hover{
        .lnr{
            color:$primary-color;
        }
    }

    .footer-bottom{
        padding-top: 80px;
        a{
            color:$primary-color;
        }

    .footer-text{
        margin-bottom:0px!important;
    }
    .footer-social{
        text-align:right;
        a{
            background: #f9f9ff;
            width: 20px;
            width: 40px;
            display: inline-table;
            height: 40px;
            text-align: center;
            padding-top: 10px;
            @include transition();
            &:hover{
                background-color: $primary-color;
                i{
                    color:#fff;
                }
            }
        }
        
        i{
            color:#222222;
            @include transition();

        }
        @include media-breakpoint-down(md) {
            text-align:left;
            margin-top:20px;
        }
    }



    }
    .single-footer-widget{
        @media(max-width:768px){
            .newsletter .primary-btn {
                right: 2% !important;
                width: auto;
                right: 0;
                top: 5px;
                transform: translate(0%, 0);
            }
        }
    }
}

.single-footer-widget{
    .navbar-form{
        width:100%;
        .form-control{
            border:none;
            border-radius: 20px;
            font-size:13px;
            background-color:#f9f9ff;
            border:1px solid $offwhite;
            padding:9px 9px 9px 20px; 
            &:focus{
                box-shadow: none!important;
            }  
        }
        .add-on{
            background: #f9f9ff;
            border-radius: 20px;
            border: 1px solid #fff;         
        }
        .genric-btn{
            padding:0px;
            &:hover{
                background-color:$primary-color;
                .lnr{
                    color:$white;
                }
            }
        }
        .error{
            color:#FF0000;
        }
        .lnr{
            padding:11px;
            font-weight:900;
            font-size: 13px !important;
            color:$white;
        }
    }



    .form-content {
        .single-input,
        .single-textarea {
            border: 1px solid #ccc;
            background: #f3f3f3 ;
            font-family: raleway, sans-serif;
            color: #666666;
            &:hover {
                background: white;
            }
        }
    
        label {
            color: #666666; 
            font-family: raleway, sans-serif;
        }

        .genric-btn {
            border-radius: unset;
            background: #666666;
            border: 1px solid #666666;
            padding: 0px 70px;
            height: 30px;
            line-height: 30px;
            font-family: raleway, sans-serif;
            border-radius: 2px;
            color: #FFFFFF;
            font-size: 14px;
            font-weight: 100;
            &:hover {
                background: #141414
            }
        }

    }
}

.form-content {
    padding-right: 50px;
}

@media only screen and (max-width: 992px){

    .form-content {
        padding-right: 0px;
    }

    #contact {
        padding: 0px;
    } 


}

@media only screen and (max-width: 767px){

    #contact {
        padding: 0px;
    } 


    .form-content {
        padding-right: 0px;
        margin-bottom: 20px;
    }



}
